{
  "extends": [
    "stylelint-config-rational-order",
    "stylelint-prettier/recommended",
    "stylelint-config-standard-scss"
  ],
  "plugins": ["stylelint-order", "stylelint-prettier"],
  "rules": {
    "scss/double-slash-comment-empty-line-before": null
  }
}
